


.mainbody {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: salmon;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.title {
    font-size: 48px;
    color: #E3C770;
    font-weight: bold;
    border:solid #E3C770;
    padding:5px;
}
#container {
    display: grid;
    width: 560px;
    height: 560px;
    border: solid #E3C770;
    
}

.content {
    aspect-ratio: 1;
}
#button{
    background-color:salmon;
    margin: 40px;
    color: #E3C770;
    font-weight: bold;
    border-color: #E3C770;
    font-size: 32px;
    border: solid;
    padding: 5px;

}

#button:hover {
    border-color: white;
    color: white;
    background-color: #E3C770;
    transition: 0.7s;
}

